* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.coluna-esquerda {
    width: 400px; /* Fixo */
    padding: 20px;
    background-color: #f2f2f2;
}

.coluna-direita {
    width: 200px; /* Fixo */
    padding: 20px;
    background-color: #ccc;
} 